.main-container-commend {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;

}

.commend-container{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    gap: 2em;
    padding: 1%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.548);
}

.commend-container-inner{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1em;
    color: black;

}

.commend-container-inner-right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 1em;
    
}

.about-the-trip{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    padding: 10%;
    border: 1px solid rgba(0, 0, 0, 0.548);
    background-color: rgba(205, 221, 255, 0.356);
    font-size: x-large;
  
}
.svg-logo{
    transition: transform 0.3s ease; 
}

.svg-logo:hover {
    transform: scale(1.1);
}


.commend-name {
    font-size: x-large;
}


.commend-title {
    font-size: xx-large;
    font-weight:500;
}
.commend-text {
    font-size: xx-large;
    border-bottom: 2px solid rgba(167, 167, 167, 0.192);
    
}

.user-name {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: larger;
}

.user-rating{
    font-size: xx-large;
}

.commend-rating {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    font-size: xx-large;
}

.pagination-component {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.pagination-main{
    border: 1px solid rgba(167, 167, 167, 0.123);
    width: 35%;
    
}

.filter-main {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-left: 1%;
  
}

.filter-title {
    font-size: larger;
}



@media (max-width: 1300px) {
    .commend-container {
      width: 100%;
      display: flex;
      flex-direction: column;
  
    }
    .commend-name {
        text-align: center;
    }

    .commend-rating {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .commend-container-inner, .commend-container-inner-right {
        border: none;
        width: 100%;
        padding: 1%;
    }

    .commend-container-inner-right {
        border-top: 1px solid rgba(255, 255, 255, 0.548);
       
    }

    .pagination-component {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3em;
        padding-bottom: 50%;
 
    }

    .filter-main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .pagination-main {
        width: 100%;
    }
  }