.main-container-ratings {
    display: flex;
    flex-direction: column;
}

.rating-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    color: black;
}

.rating-left-box , .rating-right-box {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: small;
}

@media (max-width: 860px) {
    .main-container-ratings{
        display: flex;
    }

    .rating-left-box , .rating-right-box {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
    }

    .rating-items {
        margin-left: 15%;
    }


  }
