.main-container-travelled {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.travelled-items-container {
    display: flex;

    gap: 1em;
    width: 100%;
}


@media (max-width: 860px) {
    .main-container-travelled {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .travelled-items{
        width: 100%;
    }
}