.main-container-travelled {
    display: flex;
    justify-content: center;
    font-size: larger;
    margin-bottom: 5%;
}

.travelled-box1{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.travelled-items{
    width: 30%;
}

@media (max-width: 860px) {
    .main-container-travelled {
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .travelled-items{
        width: 100%;
    }


  }